package cn.ibm.com.dao;

import java.util.List;

import cn.ibm.com.po.##ClassName;

public interface ##ClassNameDao {

	public  void insert##ClassName(##ClassName ##TableName);

	public  void deleteById(long id);

	public  List<##ClassName> findAll();

	public  void Update(##ClassName ##TableName);
	
	public List<##ClassName> findByName(String name);
	
	public ##ClassName findById(long id);
	
	public List<##ClassName> findByPage(int start, int number);

	public int getTotalCount();
}